<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>h5离线包配置平台</title>
	    		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <style type="text/css">
		    .bs-example {width: 768px; margin: 0 auto;background-color: #fff;border-color: #ddd;border-width: 1px;border-radius: 4px 4px 0 0;-webkit-box-shadow: none;box-shadow: none; margin-top: 70px;}
		    .bs-example-form .input-group {margin-bottom: 10px;}
		    .input-line .input-group-addon {width: 80px;}
		    .nav-tabs {margin-bottom: 20px;}
		</style>
	</head>
	<body>
		<!-- 导航 -->
		<nav class="navbar navbar-fixed-top navbar-inverse">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">powerbuilder</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">list<span class="sr-only">(current)</span></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="bs-example">
			<ul class="nav nav-tabs">
				<li class="active" id="listGlobalResource"><a href="##">全局资源包</a></li>
				<li id="listActivitiesResource"><a href="##">运营资源包</a></li>
			</ul>
		<% if (list.length>0) {%>
			<!-- 表格 -->
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>name</th>
						<th>size</th>
						<th>url</th>
						<th>availability</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<list.length; i++) {%>
					<tr>
					   <td><%= list[i].id %></td>
					   <td><%= list[i].name %></td>
					   <td><%= list[i].size %></td>
					   <td><%= list[i].url %></td>
					   <td><input type="checkbox" name=<%= list[i].id %>></td>
					<% } %>
					</tr>
				</tbody>

			</table>
		<% } else {%>
		<div class="alert alert-info" role="alert">当前没有记录</div>
		<% } %>

		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/list/list.js"></script>

	</body>
</html>